doctype html
html
  head
    title Danh sách bài viết
  body
    include ../common/header
    h1 Danh sách bài viết
    if (user && user.is_admin)
      a(href="/posts/create") Tạo bài viết mới
    ul
      each post in posts
        li
          a(href=`/posts/detail/${post.id}`) #{post.title}
